.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    border-radius: var(--default-border-radius);
    background-color: var(--main-section-bg-color);
    border: 1px solid var(--boarder-light-color);
    box-shadow: var(--box-shadow-light);
    animation-name: appearance;
    animation-duration: 2s;

    .leftColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content;
        gap: 20px;
    }

    .leftColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    }
}

.loaderFullScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}